<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<script>
    $(document).ready(function(){ 
        // jQuery methods go here... 
        alert("JQuery")
    });
</script>

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

        <div class="row">
            <div class="col-sm-12">
                <!-- Title  -->
                <div class="row">
                    <div class="col-sm-12 list-group-item" style="margin-top:10px !important; background-color: #337ab7; color:white;">
                        <h4 style="margin-top: 10px !important;" id="supreme_want" class="text-left">รายการข้อมูลคดี&nbsp;</h4>
                        <div class="set-right">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">เพิ่ม</button>
                        </div>
                    </div>
                </div>

                <div id="render_supreme">
                    <hr style="color:#999; margin-top:4px; margin-bottom: 4px;">
                    <hr class="colorgraph">
                    <div class="list-group"></div>

                    <div class="row election-data">
                        <div class="col-sm-12">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ประเภทคดี</th>
                                        <th>วันรับฟ้อง</th>
                                        <th>เลขคดีดำ</th>
                                        <th>วันออกแดง</th>
                                        <th>เลขคดีแดง</th>
                                        <th>โจทก์</th>
                                        <th>จำเลย</th>
                                        <th>แก้ไข </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (var key in cases) { %>
                                        <tr>
                                            <td>
                                                <% for (var nestedKey in cases[key].casetype) { %>
                                                    <% if(nestedKey == 'abb') { %>
                                                        <%= cases[key].casetype['abb'] %>
                                                            <% } %>
                                                                <% } %>

                                            </td>
                                            <td>
                                                <%= moment(cases[key].recieve_date).format( 'MM-DD-YYYY') %>
                                            </td>
                                            <td>
                                                <%= cases[key].black_abb %>
                                                    <%= cases[key].black_no %>/
                                                        <%= cases[key].black_year %>
                                            </td>
                                            <td>
                                                <%= moment(cases[key].judgement_date).format( 'MM-DD-YYYY') %>
                                            </td>
                                            <td>
                                                <%= cases[key].red_abb %><%= cases[key].red_no %>/<%= cases[key].red_year %>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                            <!-- End : Form -->

                        </div>
                    </div>
                    <!-- End : render -->
                </div>
            </div>

        </div>

        <!-- End : container -->
    </main>

    <br>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>